<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="at.gepardec.demo.properties">
    <properties>
        <property name="myTestProperty" value="DemoProperty"/>
    </properties>

    <resources>
    <resource-root path="config"></resource-root>
    </resources>
</module>
